# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node-code/node_modules
/react-code/node_modules

# production
/node-code/build

# misc
/node-code/.DS_Store
/node-code/.env.local
/node-code/.env.development.local
/node-code/.env.test.local
/node-code/.env.production.local

/node-code/npm-debug.log*
/node-code/yarn-debug.log*
/node-code/yarn-error.log*

/react-code/npm-debug.log*
/react-code/yarn-debug.log*
/react-code/yarn-error.log*

/intelliCTS-media/*